<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Better Unit Testing in ReactJS</title>

    <meta name="description" content="Better Unit Testing in ReactJS">
    <meta name="author" content="Jason Johnson and Ernie Turner">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="../bower_components/reveal.js/css/reveal.css">
    <link rel="stylesheet" href="../bower_components/reveal.js/css/theme/league.css" id="theme">
    <style type="text/css">
        .reveal h1, .reveal h2, .reveal h3{
            text-transform: none;
        }
        .reveal pre{
            width: 100%;
        }
        .monospace{
            font-family: monospace !important;
        }
        code{
            font-size: 135% !important;
        }
        .collage img{
            border: 5px solid white;
            position: absolute;
            box-shadow: 0 0 15px 7px rgba(0,0,0,0.75) !important;
        }
        .reveal h1{
          text-shadow: none;
          font-size: 3em;
        }
    </style>
    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="../bower_components/reveal.js/lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = window.location.search.match( /print-pdf/gi ) ? '../bower_components/reveal.js/css/print/pdf.css' : '../bower_components/reveal.js/css/print/paper.css';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <!--[if lt IE 9]>
    <script src="../bower_components/reveal.js/lib/js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>

<div class="reveal">
<div class="slides">

<section>
    <h1>Better Unit Testing in ReactJS</h1>
    <h3>with <a href="https://github.com/dataminr/expanded-react-test-utils" target="_blank">expanded-react-test-utils</a></h3>
    <p>
        <a href="https://github.com/jasonjohnson115" target="_blank">Jason Johnson</a> / <a href="http://twitter.com/jasonjohnson115">@jasonjohnson115</a>
        <br/>
        <a href="https://github.com/ernieturner" target="_blank">Ernie Turner</a> / <a href="http://twitter.com/erniewturner">@erniewturner</a>
    </p>
</section>

<section>
    <h2>Who are we?</h2>
    <ul>
        <li>Front-end Developers at Dataminr</li>
        <li>Formerly at Workiva and Oracle</li>
        <li>Built multiple applications with ReactJS</li>
    </ul>
</section>

<section class="collage">
    <img style="box-shadow:none; top:0; left:-40px; z-index:5;" src="img/beacon1.png"/>
    <img class="fragment" style="position: relative; top:40px; left:0px;  z-index:15;" src="img/admin1.png"/>
</section>

<section>
    <h2>Graphs Without Labels!</h2>
    <img src="img/popularity.png"/>
</section>

<section>
    <h2>Asking People About Unit Testing React</h2>
    <video poster="http://i.imgur.com/w9Vgk3wh.jpg" preload="auto" autoplay="autoplay" muted="muted" loop="loop" webkit-playsinline="" style="width: 600px;">
        <source src="http://i.imgur.com/w9Vgk3w.webm" type="video/webm">
        <source src="http://i.imgur.com/w9Vgk3w.mp4" type="video/mp4">
    </video>
</section>

<section>
    <h2>Objects > DOM</h2>
</section>

<section>
    <h2>React Test Utils</h2>
    <ul style="font-size: 0.8em">
        <li>Simulate</li>
        <li>renderIntoDocument</li>
        <li>isElement</li>
        <li>isElementOfType</li>
        <li>isDOMComponent</li>
        <li>isCompositeComponent</li>
        <li>isCompositeComponentWithType</li>
        <li>findAllInRenderedTree</li>
        <li>scryRenderedDOMComponentsWithClass</li>
        <li>findRenderedDOMComponentWithClass</li>
        <li>scryRenderedDOMComponentsWithTag</li>
        <li>findRenderedDOMComponentWithTag</li>
        <li>scryRenderedComponentsWithType</li>
        <li>findRenderedComponentWithType</li>
    </ul>
</section>

<section>
    <h2>Expanded React Test Utils</h2>
    <ul>
        <li>mockReactComponent</li>
        <li>getRouterComponent</li>
        <li>scryRenderedDOMComponentsWithSelector</li>
        <li>findRenderedDOMComponentWithSelector</li>
        <li>findComponentCountWithClassname</li>
        <li>findComponentCountWithTag</li>
        <li>findComponentCountWithSelector</li>
    </ul>
</section>

<section>
    <h2>Test Application</h2>
    <img style="height: 525px" src="img/sampleAppScreenshot.png"/>
</section>

<section>
    <h2>Test Application</h2>
    <span>Page, Controls, List, StateMap</span>
    <img style="height: 525px" src="img/sampleAppScreenshot_outline.png"/>
</section>

<section>
    <h2>Controls Component</h2>
    <img src="img/controlsComponent.png"/>
    <ul>
        <li>Checkbox click handler</li>
        <li>Checkbox markup builder</li>
        <li>Render function</li>
    </ul>
</section>

<section>
    <pre><code data-trim class="js">
getAgeToggleMarkup: function(key, enabled) {
  return (
    &lt;div className="age-type" key={key}&gt;
      &lt;input
          id={key}
          type="checkbox"
          checked={enabled}
          onChange={this.toggleAgeHandler}
      /&gt;
      &lt;label htmlFor={key}>
          {this.props.ageData[key].label}
      &lt;/label&gt;
    &lt;/div&gt;
  );
},
    </code></pre>
</section>

<section>
    <h2>renderIntoDocument()</h2>
    <ul>
        <li>Detached DOM node</li>
        <li>Runs full component render cycle (getInitialState, componentDidMount, render, etc)</li>
        <li>Returns React class instance</li>
    </ul>
    <pre><code data-trim class="js">
var controlsInstance;

beforeEach(function(){

  controlsInstance = ReactTestUtils.renderIntoDocument(
    &lt;Controls
        ageData={ageData}
        selectedAges={selectedAges}
    /&gt;
  );

});
...
    </code></pre>
</section>

<section>
    <h2>Direct Object Testing</h2>
    <pre><code data-trim class="js">
//Call function to test
var control =
    controlsInstance.getAgeToggleMarkup('underFive', true);
    </code></pre>

    <pre class="fragment"><code data-trim class="js">
//Grab elements at proper child index
var checkbox = control.props.children[0],
    label    = control.props.children[1];
    </code></pre>

    <pre class="fragment"><code data-trim class="js">
//Assertions
expect(checkbox.props.checked).toBeTrue();
expect(checkbox.props.id).toEqual('underFive');
expect(label.props.children).toEqual('Under 5');
    </code></pre>
</section>

<section>
    <h2>Partial Render and Tag Query</h2>
    <ul>
        <li>[find/scry]RenderedDOMComponentWithTag</li>
        <li>[find/scry]RenderedDOMComponentWithClass</li>
    </ul>
    <br/>
    <br/>
    <div>Requires React tree to have been rendered before use</div>
</section>

<section>
  <h2>Scry?</h2>
  <img src="img/scry.gif"/>
</section>

<section>
    <h2>Partial Render and Tag Query</h2>
    <pre><code data-trim class="js">
//Call function to test
var controlMarkup =
    controlsInstance.getAgeToggleMarkup('underFive', true);
    </code></pre>

    <pre class="fragment"><code data-trim class="js">
//Render view partial
var markup = ReactTestUtils.
    renderIntoDocument(controlMarkup);
    </code></pre>

    <pre class="fragment"><code data-trim class="js">
//Find elements by tag
var checkbox = ReactTestUtils.
    findRenderedDOMComponentWithTag(markup, 'input'),

var label = ReactTestUtils.
    findRenderedDOMComponentWithTag(markup, 'label');
    </code></pre>

    <pre class="fragment"><code data-trim class="js">
//Assertions
expect(checkbox.props.checked).toBeTrue();
expect(checkbox.props.id).toEqual('underFive');
expect(label.props.children).toEqual('Under 5');
    </code></pre>
</section>

<section>
    <h2>Simulate.{action}()</h2>
    <ul>
        <li>Invoke action handler</li>
        <li>Must pass in DOM node</li>
    </ul>
</section>

<section>
    <div>onClick => Simulate.click()</div>
    <div>onChange => Simulate.change()</div>
    <div>onKeyDown => Simulate.keyDown</div>
</section>

<section>
  <h2>Checkbox Toggle Handler</h2>
  <pre><code data-trim class="js">
&lt;input
  id={key}
  type="checkbox"
  checked={enabled}
  onChange={this.toggleAgeHandler}
/&gt;
    </code></pre>
    <br/>
    <pre class="fragment"><code data-trim class="js">
toggleAgeHandler: function(event) {
  var key = event.target.id;
  AgeStore.toggleAgeSelected(key);
},
    </code></pre>
</section>

<section>
    <pre><code data-trim class="js">
//Spy on function we expected to be called
spyOn(AgeStore, 'toggleAgeSelected');
    </code></pre>

    <pre class="fragment" style="font-size: 47%"><code data-trim class="js">
//Find a checkbox to toggle
var checkbox = ReactTestUtils.
  scryRenderedDOMComponentWithTag(controlsInstance, 'input')[0];
    </code></pre>

    <pre class="fragment"><code data-trim class="js">
//Simulate on the actual DOM node
ReactTestUtils.Simulate.change(checkbox.getDOMNode());
    </code></pre>

    <pre class="fragment"><code data-trim class="js">
//Assertions
expect(AgeStore.toggleAgeSelected).
    toHaveBeenCalledWith('underFive');
    </code></pre>
</section>

<section>
    <h2>Expanded React Test Utils</h2>
</section>

<section>
    <h2>Page Component</h2>
    <pre><code data-trim class="js">
render: function() {
  return (
    &lt;div className="page"&gt;
      &lt;div className="header-title"&gt;
        &lt;h1&gt;County Population by Age Range&lt;/h1&gt;
      &lt;/div&gt;

      &lt;Controls
        ageData={this.ageData}
        selectedAges={this.state.selectedAges} /&gt;
      &lt;List
        ageData={this.ageData}
        selectedAges={this.state.selectedAges} /&gt;
      &lt;StateMap
        ageData={this.ageData}
        selectedAges={this.state.selectedAges} /&gt;
    &lt;/div&gt;
  );
}
    </code></pre>
</section>

<section>
    <h2>mockReactComponent</h2>
    <ul>
        <li>Replace with plain &lt;div&gt;</li>
        <li>Keep any existing props</li>
        <li>Add/overwrite props</li>
        <li>Requires Jasmine</li>
    </ul>
</section>

<section>
    <pre><code data-trim class="js">
beforeAll(function(){
  ExpandedTestUtils.mockReactComponent({

    Controls: {className: 'mock-controls'},
    List:     {className: 'mock-list'},
    StateMap: {className: 'mock-state-map'}

  });
});
    </code></pre>

    <pre class="fragment"><code data-trim class="js">
var controlsInstance = ReactTestUtils.
  findRenderedDOMComponentWithClass('mock-controls');

expect(controlsInstance.props.selectedAges).toEqual({...});
    </code></pre>
</section>

<section>
    <h3>[find/scry]RenderedDOMComponentsWithSelector</h3>
    <ul>
        <li>Simple selector using classes, tags, IDs</li>
        <li>Pseudo selectors not yet supported</li>
    </ul>
</section>

<section>
    <pre><code data-trim class="js">
<div>
  <ul id="user-list">
    ...
  </ul>
  <ul id="company-list">
    ...
  </ul>
</div>
    </code></pre>
    <pre class="fragment"><code data-trim class="js">
scryRenderedDOMComponentsWithSelector(
    instance,
    '#user-list li'
);
    </code></pre>
</section>

<section>
    <pre><code data-trim class="js">
<div class="current-status">
  <span class="failed">
    <span>Request failed...</span>
    <button>Retry</button>
  </span>

  <span class="passed">
    <span>Request completed successfully</span>
    <button>Ok</button>
  </span>
  ...
</div>
    </code></pre>
    <br/>
    <pre class="fragment"><code data-trim class="js">
findRenderedDOMComponentsWithSelector(
    instance,
    '.current-status .passed button'
);
    </code></pre>
</section>

<!-- DIVIDER LINE -->

<section data-background="http://media.giphy.com/media/5Npwo4RT87WLe/giphy.gif">
    <h2>Unit Tests!! Now what?</h2>
</section>

<section>
    <h2>Automation</h2>
    <img src="img/grunt.jpg" />
</section>

<section>
    <h2>Automation Dependencies</h2>
    <ul>
        <li><a href="http://gruntjs.com/">grunt</a></li>
        <li><a href="https://github.com/gruntjs/grunt-cli">grunt-cli</a></li>
        <li><a href="https://github.com/gruntjs/grunt-contrib-connect">grunt-contrib-connect</a></li>
        <li><a href="https://github.com/jsoverson/grunt-open">grunt-open</a></li>
        <li><a href="https://github.com/cri5ti/grunt-shell-spawn">grunt-shell-spawn</a></li>
        <li><a href="https://github.com/creynders/load-grunt-configs">load-grunt-configs</a></li>
    </ul>
</section>

<section>
    <h2>Testing Dependencies</h2>
    <ul>
        <li><a href="https://github.com/gruntjs/grunt-contrib-jasmine">grunt-contrib-jasmine</a></li>
        <li><a href="https://github.com/maenu/grunt-template-jasmine-istanbul">grunt-template-jasmine-istanbul</a></li>
        <li><a href="https://github.com/cloudchen/grunt-template-jasmine-requirejs">grunt-template-jasmine-requirejs</a></li>
        <li><a href="https://github.com/gruntjs/grunt-contrib-requirejs">grunt-contrib-requirejs</a></li>
        <li><a href="https://www.npmjs.com/package/requirejs">requirejs</a></li>
        <li><a href="https://github.com/chrisbuttery/duo-react/blob/master/lib/polyfill/bind-polyfill.js">bind-polyfill.js</a></li>
    </ul>
</section>

<section>
    <h2>Additional Dependencies</h2>
    <ul>
        <li><a href="https://github.com/gruntjs/grunt-contrib-compass">grunt-contrib-compass</a></li>
        <li><a href="http://eslint.org/">eslint</a></li>
        <li><a href="https://www.npmjs.com/package/grunt-eslint">grunt-eslint</a></li>
        <li><a href="https://www.npmjs.com/package/eslint-plugin-react">eslint-plugin-react</a></li>
        <li><a href="https://github.com/gruntjs/grunt-contrib-watch">grunt-contrib-watch</a></li>
    </ul>
</section>

<section>
    <h2>Create Grunt Tasks</h2>
    <img src="img/allthethings.jpg" />
</section>

<section>
    <h2>Unit Testing Necessities</h2>
    <ul>
        <li><b style="color: cornflowerblue">Static code analysis</b></li>
        <li>Run unit tests
            <ul>
                <li>Command Line
                    <ul>
                        <li>All tests</li>
                        <li>Filter folder or file</li>
                        <li>Easy access to failures</li>
                    </ul>
                </li>
                <li>Browser
                    <ul>
                        <li>Debug unit tests and code</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Code coverage inspection and thresholds</li>
        <li>Run CI when pushing code and creating pull requests</li>
    </ul>
</section>

<section>
    <h2>Static Code Analysis</h2>
    <pre><code data-trim class="js">
grunt eslint
    </code></pre>
    <pre><code data-trim class="js">
eslint:{
  target: [
    'app/**/*.js',
    '!app/compiled/**/*.js',
    '!app/js/stores/data/*.js',
    '!app/js/tests/*.js',
    '!app/**/*.test.js'
  ]
},
    </code></pre>
</section>

<section>
    <h2>React Support in Eslint</h2>
    <pre style="font-size: .4em"><code>
"ecmaFeatures": {
  "jsx": true
},
"rules": {
  {standard eslint rules}

  "react/jsx-boolean-value": 1,
  "react/jsx-quotes": 1,
  "react/jsx-no-undef": 1,
  "react/jsx-uses-react": 1,
  "react/jsx-uses-vars": 1,
  "react/no-did-mount-set-state": 1,
  "react/no-did-update-set-state": 1,
  "react/no-multi-comp": 1,
  "react/no-unknown-property": 1,
  "react/react-in-jsx-scope": 1,
  "react/self-closing-comp": 1
},
"plugins": [
  "react"
]
    </code></pre>
</section>

<section>
    <h2>Eslint Output</h2>
    <pre><code data-trim class="js">
React = require('react');
var AgeStore = require('stores/AgeStore')
var unusedVar = 'What am I doing here?';
    </code></pre>
    <img src="img/eslintOutput.png"/>
</section>

<section>
    <h2>Unit Testing Necessities</h2>
    <ul>
        <li><strike style="color: dimgrey">Static code analysis</strike></li>
        <li>Run unit tests
            <ul>
                <li>Command Line
                    <ul>
                        <li><b style="color: cornflowerblue">All tests</b></li>
                        <li>Filter folder or file</li>
                        <li>Easy access to failures</li>
                    </ul>
                </li>
                <li>Browser
                    <ul>
                        <li>Debug unit tests and code</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Code coverage inspection and thresholds</li>
        <li>Run CI when pushing code and creating pull requests</li>
    </ul>
</section>

<section>
    <h2>Lint and then Run Tests </h2>
    <h4>Used by CI</h4>
    <pre><code data-trim class="js">
grunt test
    </code></pre>
    <pre><code data-trim class="js">
grunt.registerTask('test',[
  'shell:cleanCompiledDirectory',
  'shell:jsxCompile',
  'eslint',
  'jasmine:cov'
]);
    </code></pre>
    <img src="img/grunt_test.png" />
</section>

<section>
    <h2>Unit Testing Necessities</h2>
    <ul>
        <li><strike style="color: dimgrey">Static code analysis</strike></li>
        <li>Run unit tests
            <ul>
                <li>Command Line
                    <ul>
                        <li><strike style="color: dimgrey">All tests</strike></li>
                        <li><b style="color: cornflowerblue">Filter folder or file</b></li>
                        <li>Easy access to failures</li>
                    </ul>
                </li>
                <li>Browser
                    <ul>
                        <li>Debug unit tests and code</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Code coverage inspection and thresholds</li>
        <li>Run CI when pushing code and creating pull requests</li>
    </ul>
</section>

<section>
    <h2>Filter When Running Tests</h2>
    <ul>
        <li>Don't lint</li>
        <li>Don't fail on coverage thresholds</li>
    </ul>
    <pre><code  data-trim class="js">
grunt jasmineFilter --filter {/folder|file}
    </code></pre>
    <pre><code  data-trim class="js">
grunt.registerTask('jasmineFilter',[
  'jasmine:cov'
]);
    </code></pre>
</section>

<section>
    <h2>Unit Testing Necessities</h2>
    <ul>
        <li><strike style="color: dimgrey">Static code analysis</strike></li>
        <li>Run unit tests
            <ul>
                <li>Command Line
                    <ul>
                        <li><strike style="color: dimgrey">All tests</strike></li>
                        <li><strike style="color: dimgrey">Filter folder or file</strike></li>
                        <li><b style="color: cornflowerblue">Easy access to failures</b></li>
                    </ul>
                </li>
                <li>Browser
                    <ul>
                        <li>Debug unit tests and code</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Code coverage inspection and thresholds</li>
        <li>Run CI when pushing code and creating pull requests</li>
    </ul>
</section>

<section>
    <pre><code  data-trim class="js">summary: true</code></pre>
    <img src="img/test_failures.png" />
</section>

<section>
    <h2>Unit Testing Necessities</h2>
    <ul>
        <li><strike style="color: dimgrey">Static code analysis</strike></li>
        <li>Run unit tests
            <ul>
                <li><strike style="color: dimgrey">Command Line</strike>
                    <ul>
                        <li><strike style="color: dimgrey">All tests</strike></li>
                        <li><strike style="color: dimgrey">Filter folder or file</strike></li>
                        <li><strike style="color: dimgrey">Easy access to failures</strike></li>
                    </ul>
                </li>
                <li>Browser
                    <ul>
                        <li><b style="color: cornflowerblue">Debug unit tests and code</b></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>Code coverage inspection and thresholds</li>
        <li>Run CI when pushing code and creating pull requests</li>
    </ul>
</section>

<section>
    <h2>Debug Unit Tests and Code</h2>
    <pre><code  data-trim class="js">
        grunt jasmineDebug --filter {/folder|file}
    </code></pre>
    <pre><code  data-trim class="js">
grunt.registerTask('jasmineDebug', [
  'jasmine:debug',
  'open:test',
  'connect'
]);
    </code></pre>
</section>

<section>
    <h2>Task Requirements</h2>
    <ul>
        <li>Open a URL from a Grunt task</li>
        <li>Start a Connect server</li>
        <li>Project Configuration</li>
    </ul>
</section>

<section>
    <h3>Open URL and Start Server for Debugging or Coverage</h3>
    <pre style="font-size: .4em"><code data-trim class="js">
open: {
  test: {
    path: 'http://localhost:<%= connect.all.options.port%>/_SpecRunner.html'
  },
  cov: {
    path: 'http://localhost:<%= connect.all.options.port%>/bin/'
  }
}
    </code></pre>
    <pre style="font-size: .4em"><code data-trim class="js">
connect: {
  all: {
    options: {
      port: port,
      hostname: "0.0.0.0",
      keepalive: true
    }
  }
},
    </code></pre>
</section>

<section>
    <h2>Project Configuration</h2>
    <pre style="font-size: .4em"><code data-trim class="js">
var port = '9001';
var connect = require('../node_modules/grunt-contrib-connect/tasks/connect');
var jasmineConfig = {
  src: ['app/compiled/**/*.js', '!app/compiled/lib/*',
        '!app/compiled/main.js', '!app/compiled/**/tests/*.js'],
  specs: ['app/compiled/**/*.test.js'],
  helpers: [
    'app/compiled/tests/bind-polyfill.js',
    'bower_components/jasmine-expect/dist/jasmine-matchers.js'
  ],
  requireConfigFile: 'app/require.config.js',
  compiledDir: 'app/compiled',
  paths: {
    ExpandedTestUtils: '../../dist/ExpandedTestUtils.min'
  }
};
    </code></pre>
</section>

<section>
    <h2>Task Configuration</h2>
    <pre><code data-trim class="js">
debug: {
  src: jasmineConfig.src,
  options: {
    specs: jasmineConfig.specs,
    keepRunner: true,
    helpers: jasmineConfig.helpers,
    template: require('grunt-template-jasmine-requirejs'),
    templateOptions: {
      requireConfigFile: jasmineConfig.requireConfigFile,
      requireConfig: {
        baseUrl: jasmineConfig.compiledDir,
        paths: jasmineConfig.paths
      }
    }
  }
},
    </code></pre>
</section>

<section>
    <img src="img/jasmineDebug.png" />
</section>

<section>
    <h2>Unit Testing Necessities</h2>
    <ul>
        <li><strike style="color: dimgrey">Static code analysis</strike></li>
        <li><strike style="color: dimgrey">Run unit tests</strike>
            <ul>
                <li><strike style="color: dimgrey">Command Line</strike>
                    <ul>
                        <li><strike style="color: dimgrey">All tests</strike></li>
                        <li><strike style="color: dimgrey">Filter folder or file</strike></li>
                        <li><strike style="color: dimgrey">Easy access to failures</strike></li>
                    </ul>
                </li>
                <li><strike style="color: dimgrey">Browser</strike>
                    <ul>
                        <li><strike style="color: dimgrey">Debug unit tests and code</strike></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><b style="color: cornflowerblue">Code coverage inspection and thresholds</b></li>
        <li>Run CI when pushing code and creating pull requests</li>
    </ul>
</section>

<section>
    <h2>Code Coverage Inspection</h2>
    <pre><code  data-trim class="js">
grunt test:cov
    </code></pre>
    <pre><code  data-trim class="js">
grunt.registerTask('test:cov',[
  'test',
  'open:cov',
  'connect'
]);
    </code></pre>
</section>

<section>
    <h2>Task Configuration</h2>
    <pre style="font-size: .35em"><code data-trim class="js">
cov: {
  src: jasmineConfig.src,
  options: {
    specs: jasmineConfig.specs,
    summary: true,
    helpers: jasmineConfig.helpers,
    template: require('grunt-template-jasmine-istanbul'),
    templateOptions: {
      replace: false,
      coverage: 'bin/coverage/app/coverage.json',
      report: 'bin/coverage/app',
      thresholds: grunt.cli.tasks[0] === "test" ? {
        lines: 90,
        statements: 90,
        branches: 50,
        functions: 75
      } : {},
      template: require('grunt-template-jasmine-requirejs'),
      templateOptions: {
        requireConfigFile: jasmineConfig.requireConfigFile,
        requireConfig: {
          baseUrl: '.grunt/grunt-contrib-jasmine/' + jasmineConfig.compiledDir,
          paths: jasmineConfig.paths,
          callback: function () {
            // path modification for bower dependencies
            define('instrumented', ['module'], function (module) {
              return module.config().src;
            });
            require(['instrumented'], function () {
              var oldLoad = requirejs.load;
              requirejs.load = function (context, moduleName, url) {
                if (url.indexOf('bower_components') !== -1 || url.indexOf('dist') !== -1) {
                  url = url.substring(48);
                }
                return oldLoad.apply(this, [context, moduleName, url]);
...
    </code></pre>
</section>

<section>
    <h2>Istanbul Project Coverage</h2>
    <img src="img/istanbulProject.png" />
</section>

<section>
    <h2>Istanbul File Coverage</h2>
    <img src="img/istanbulFile.png" />
</section>

<section>
    <h2>Unit Testing Necessities</h2>
    <ul>
        <li><strike style="color: dimgrey">Static code analysis</strike></li>
        <li><strike style="color: dimgrey">Run unit tests</strike>
            <ul>
                <li><strike style="color: dimgrey">Command Line</strike>
                    <ul>
                        <li><strike style="color: dimgrey">All tests</strike></li>
                        <li><strike style="color: dimgrey">Filter folder or file</strike></li>
                        <li><strike style="color: dimgrey">Easy access to failures</strike></li>
                    </ul>
                </li>
                <li><strike style="color: dimgrey">Browser</strike>
                    <ul>
                        <li><strike style="color: dimgrey">Debug unit tests and code</strike></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><strike style="color: dimgrey">Code coverage inspection and thresholds</strike></li>
        <li><b style="color: cornflowerblue">Run CI when pushing code and creating pull requests</b></li>
    </ul>
</section>

<section>
    <h2>Test and Deploy with Confidence</h2>
    <img style="background-color: white" src="img/logotravis.png" /><br/>
    <small><a href="https://travis-ci.org/">Travis CI</a></small>
</section>

<section>
    <h2>Configuring .travis.yaml</h2>
    <pre><code data-trim class="js">
language: node_js
node_js:
- "0.12"
before_install:
- npm install -g grunt-cli
- npm install -g bower
- npm install -g react-tools
install: npm install
after_script:
- bower install
- grunt test
    </code></pre>
</section>

<section>
    <h2>Github with Travis CI</h2>
    <img src="img/pending.png" />
    <img src="img/passing.png" />
</section>

<section>
    <h2>Build Passing Badge in README</h2>
    <pre style="font-size: .4em"><code data-trim class="js">
[![Build Status][travis-image]][travis-url]

[travis-url]: https://travis-ci.org/dataminr/expanded-react-test-utils
[travis-image]: https://travis-ci.org/dataminr/expanded-react-test-utils.svg?branch=master
    </code></pre>
    <img src="img/badge.png" />
</section>

<section>
    <h2>Starting a New Project?</h2>
    <img src="img/yeoman-logo.png" /><br/>
    <a href="https://github.com/dataminr/generator-reactjs-flux">generator-reactjs-flux</a><br/><br/>
    <small>by <a href="http://dataminr.com/">Dataminr</a></small>
</section>

<section>
    <h2>Need More Examples of Testing React?</h2>
    <img src="https://raw.githubusercontent.com/dataminr/react-components/master/src/js/examples/images/demo/table.gif" /><br />
    <a href="https://github.com/dataminr/react-components">react-components</a><br/><br/>
    <small>by <a href="http://dataminr.com/">Dataminr</a></small>
</section>

<section>
    <h2>Want the new test utils for React?</h2>

    <small><p>Clone the repo and open <a href="https://github.com/dataminr/expanded-react-test-utils/blob/master/slides/index.html">this</a> file up in your browser to view the presentation slides</p></small><br />
    <a href="https://github.com/dataminr/expanded-react-test-utils">expanded-react-test-utils</a><br/><br/>
    <small>by <a href="http://dataminr.com/">Dataminr</a></small>
</section>

<section>
    <h2>Thank you!</h2>
</section>

<section>
    <h2>Questions?</h2>
</section>

</div> <!-- end slides -->
</div> <!-- end reveal -->

<script src="../bower_components/reveal.js/lib/js/head.min.js"></script>
<script src="../bower_components/reveal.js/js/reveal.js"></script>

<script>
    // Full list of configuration options available at:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        history: true,
        slideNumber: true,
        transition: 'slide', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
            { src: '../bower_components/reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
            { src: '../bower_components/reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: '../bower_components/reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: '../bower_components/reveal.js/plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
            { src: '../bower_components/reveal.js/plugin/zoom-js/zoom.js', async: true },
            { src: '../bower_components/reveal.js/plugin/notes/notes.js', async: true }
        ]
    });
</script>

</body>
</html>
